<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/style.css">

  <div class="wrapper">
    <header>
      <h1 class="has-text-orange px-3 py-7 has-text-weight-bold"> The Dev Tech Blog </h1>
      <nav class="navbar mt-5">
        {{#if loggedIn}}
        <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
        <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
        <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create Post</a>
        <button id="logout" class="button is-light">Logout</button>
        {{else}}
        <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
        <a href="/login" class="button is-dark">Login</a>
        {{/if}}
      </nav>
    </header>
<body>
    <main>
      {{{ body }}}
    </main>


{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>